.connect_comments {
  background: #FFFFFF0D;
  padding: 32px 40px;
  max-width: 900px;
  border-radius: 1.5rem;
  width: 100%;
  .comments_container {
    background: rgba(131, 131, 131, 0.35);
    border-radius: 1rem;
    padding: 0 0 24px 0;
  }

}

.comments_header {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(131, 131, 131, 0.49);
  padding: 24px;

  .icon {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    border-radius: 10px;
    padding: 5px;
    background: rgba(125, 142, 243, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h3 {
    color: white;
    font-size: 22px;
    font-weight: 600;

    span {
      color: rgb(125, 142, 243);
      margin-left: 5px;
    }
  }
}

.comment_form {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  textarea {
    height: 150px;
  }
  label {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: 24px;
    &:first-child {
      margin-top: 0;
    }
  }


  .submit {
    border-radius: 1rem;
    padding: 16px;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-image: linear-gradient(to right, #a855f7, #6366f1);
    margin-top: 24px;
    position: relative;
    overflow: hidden;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: rgba(255, 255, 255, 0.2);
      transition: all .3s;
    }
    &:hover::after{
      height: 100%;
    }
  }
  .file_selector{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 1rem;
    width: 100%;
    padding: 16px;
    .file_size{
      margin-top: 15px;
      font-size: 15px;
    }
    button{
      width: 100%;
      border-radius: 1rem;
      border: 1px dashed #6366f1;
      background: #6366f133;
      position: relative;
      padding: 16px;
      font-size: 16px;
      color: #818cf8;
      transition: all .3s;
      &:hover{
        background: rgba(99, 102, 241, 0.4);
      }
      input{
        position: absolute;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;

      }
    }
  }
}

.comments {
  max-height: 330px;
  overflow-y: scroll;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #a259ff, #8a2be2); // фиолетовые тона
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #b67aff, #9b30ff);
  }

  // Firefox
  scrollbar-width: thin;
  scrollbar-color: #a259ff transparent;
  .pinned{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgba(99, 102, 241, 0.1), rgba(168, 85, 247, 0.1)) !important;
    border: 1px solid rgba(99, 102, 241, 0.3) !important;
    &:hover{
      background: linear-gradient(to right, rgba(99, 102, 241, 0.2), rgba(168, 85, 247, 0.2)) !important;

    }
    .pinned_icon{
      display: flex;
      align-items: center;
      gap: 10px;
      img{
        width: 16px;
      }
      span{
        color: rgb(110, 135, 255);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 12px;
      }
    }
    .content{
      margin-top: 5px;
      display: flex;
      gap: 10px;

      .comment_content{
        h4{
          color: #c7d2fe;
          position: relative;
          width: fit-content;
          &:after{
            content: 'Admin';
            position: absolute;
            right: -4.5rem;
            font-weight: 400;
            background-color: rgba(99, 102, 241, 0.3);
            padding: 4px 10px;
            font-size: 12px;
            border-radius: 1rem;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
  }
  .comment {
    width: 100%;
    padding: 16px 16px 8px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.21);
    border-radius: 1rem;
    display: flex;
    gap: 10px;
    transition: transform .3s;
    &:hover{
      transform: translateY(-3px);
      background: rgba(255, 255, 255, 0.15);
    }
    .without_ava{
      min-width: 36px;
      height: 36px;
      border-radius: 50%;
      background: rgba(99, 102, 241, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .ava {
      border-radius: 50%;
      min-width: 40px;
      height: 40px;
    }
    .comment_content{
      h4{
        font-size: 16px;
        color: rgb(243, 243, 244);
        font-weight: 600;
      }
      p {
        line-height: 1.2rem;
        margin-top: 5px;
        font-size: 15px;
        color: rgb(179, 182, 190);

        white-space: normal;
        overflow-wrap: break-word;
        word-break: break-all;
      }

    }
  }

}
@media(max-width: 1010px){

  .connect_comments{
    max-width: 100%;
  }
}
@media(max-width: 600px) {
  .comments_header {
    .icon {
      width: 30px;
      height: 30px;
      }
  }
  .connect_comments{
    padding: 20px;

  }
}