.header_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
}
.header_logo{
  font-size: 20px;
  font-weight: 700;
  background-image: linear-gradient(to right, #a855f7, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header_nav{
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 15px;
  a{
    color: rgb(226 211 253);
    padding: 8px 4px;

  }
}