h1{
  font-size: 80px;
  font-weight: 700;
  background-image: linear-gradient(to right, #fff , #dbeafe , #e9d5ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  max-width: 361px;
  filter:
          drop-shadow(-6px 0 50px rgba(0, 194, 255, 0.6)) /* синяя тень слева */
          drop-shadow(6px 0 50px rgba(255, 0, 166, 0.6));
  span{
    background-image: linear-gradient(to right, #a855f7, #6366f1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.home_section{
  margin-top: 200px;
}
.home_main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .left{
    max-width: 600px;
    .writer{
      margin-top: 20px;
      span{
        font-size: 32px;
        font-weight: 100;
        color: rgb(223, 225, 227);

      }

    }
    .subtitle{
      margin-top: 20px;

    }
    .tags{
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 15px;
      .tag{
        padding: 12px 24px;
        font-size: 16px;
        font-weight: 600;
        background: #FFFFFF0D;
        border-radius: 50px;
        border: 1px solid rgba(255, 255, 255, 0.15);
        &:hover{
          background: #FFFFFF1a;
        }
      }
    }
    .buttons{
      display: flex;
      align-items: center;
      margin-top: 20px;
      gap: 10px;
      button{
        width: 160px;
        height: 45px;
        font-size: 16px;
        color: #fff;
        background: black;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.14);
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 20px 5px rgba(78, 0, 165, 0.3);
        transition: all .3s;
        &:before{
          content: '';
          position: absolute;
          width: 0;
          height: 100%;
          left: 0;
          top: 0;
          background: rgba(78, 0, 165, 0.36);
          transition: all .3s;
        }
        &:hover:before{
          width: 100%;
        }
        &:hover{
          box-shadow: 0 0 20px 5px rgba(78, 0, 165, 0.9);

        }

      }
    }
    .socials{
      margin-top: 30px;
      display: flex;
      gap: 20px;

      .block{
        box-shadow: 0 0 20px 5px rgba(78, 0, 165, 0.3);
        width: 40px;
        height: 40px;
        border-radius: 10px;
        background: #00000080;
        border: 1px solid rgba(255, 255, 255, 0.15);
        padding: 10px;
        transition: all .3s;
        &:hover{
          box-shadow: 0 0 20px 5px rgba(78, 0, 165, 0.9);

        }
      }
    }
  }
  .subtitle{
    text-align: left;
  }


}
.right{
  height: 100%;
}
.right:hover .gif{
  transform: rotate(3deg);
  scale: 1.1;
}
.gif{
  transition: all .5s;
}
